.mrn-c-footer {
    background-color: #5a1d14;
    color: white;
}

.mrn-c-footer-logo {
    max-width: 120px;
    height: auto;
}

.mrn-c-fb-link {
    color: white;
}

h5 {
    color: #c69938;
}

i {
    color: #c69938;
}

.mrn-c-vertical-divider {
    border-right: 1px solid #c69938;
}

a {
    color: white;
    text-decoration: underline;
}