.mrn-c-footer {
    background-color: #5a1d14
}

.mrn-c-footer-logo {
    max-width: 120px;
    height: auto;
}

.mrn-c-ubereats-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}