.mrn-c-header {
  align-items: center;
  background-color: var(--mrn-yellow-main);
}

.mrn-c-nav {
  display: flex;
  align-items: center;
}

.mrn-c-nav__center-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mrn-c-nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.mrn-c-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mrn-c-image {
  width: 150px;
}

.mrn-c-nav__link {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* ================================================
    Language Selector Styling
================================================ */

.mrn-c-nav__language-selector {
  display: flex;
  align-items: center;
}

.mrn-c-nav__language-select {
  font-weight: 700;
  text-transform: uppercase;
  &,
  &::picker(select) {
    appearance: base-select;
  }
}

.mrn-c-nav__language-select:hover,
.mrn-c-nav__language-select:focus {
  background-color: transparent;
}

.mrn-c-nav__language-select:open::picker-icon {
  rotate: 180deg;
}

.mrn-c-nav__language-option {
  font-weight: 500;
  text-transform: none;
  padding: 0.5rem;
  width: inherit;
}

.mrn-c-nav__language-option::checkmark {
  order: 1;
  margin: auto;
  content: normal;
}
