.mrn-c-header {
  align-items: center;
  background-color: var(--mrn-yellow-main);
}

.mrn-c-nav {
  display: flex;
  align-items: center;
}

.mrn-c-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mrn-c-nav__group {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  width: auto;
}

.mrn-c-nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mrn-c-logo {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.mrn-c-image {
  width: 150px;
}

.mrn-c-nav__link {
  color: black;
  font-weight: bold;
}

.mrn-c-nav__language-selector {
  margin-right: 16px;
}