<footer class="mrn-c-footer py-4">
  <div class="container">
    <div class="row text-center text-md-start align-items-center justify-content-center">

      <!-- Column 1-->
      <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0">
        <img src="./img/newmorenalogo.png" alt="Restaurant Morena Logo" class="mrn-c-footer-logo">
      </div>

      <!-- Column 2 -->
      <div class="col-md-4 text-center">
        <h5 class="mb-1">Restaurant Morena</h5>
        <p class="mb-1">
          6459 Victoria Ave | Montreal, QC<br>
          Mon–Sun: 7 a.m.–8 p.m.
        </p>
        <div class="d-flex justify-content-center align-items-center gap-3">
          <span class="me-1">Connect with us:</span>
          <a href="https://www.facebook.com/p/Morena-Restaurant-Catering-Services-100069363169428/" target="_blank"
            class="text-dark">
            <i class="bi bi-facebook fs-5"></i>
          </a>
          <a href="https://www.ubereats.com/ca/store/morena-restaurant-%26-catering-services/mk1ZZBBKSxG84zLWjgnxWA?srsltid=AfmBOop4q9j1oE4ic8Fo9tFksGdcwlPc33xAqVA6sxHLQX4sh2ej7juF"
            target="_blank">
            <img src="./img/ubereats.png" alt="Uber Eats" class="mrn-c-ubereats-icon">
          </a>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="col-md-4 text-center mt-3 mt-md-0">
        <p class="fst-italic small mb-0">
          “For I know the plans I have for you, declares the LORD, plans to prosper you and not harm you, plans to give
          you hope and a future.” – Jeremiah 29:11
        </p>
      </div>
    </div>

    <hr class="my-3">
    <p class="text-center small mb-0">&copy; 2025 Restaurant Morena. All rights reserved.</p>
  </div>
</footer>