<footer class="mrn-c-footer py-4">
  <div class="container">
    <div class="row text-center">

      <!-- Column 1-->
      <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0">
        <div>
          <h5>MENU</h5>
          <p>Home</p>
          <p>Menu</p>
          <p>Order</p>
          <p>About</p>
          <p>Contact</p>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="col-md-4 text-center">
        <h5 class="mb-1">LOCATION & OPENING HOURS</h5>
        <p class="mb-1">
          6459 Victoria Ave | Montreal, QC<br>
          Mon–Sun: 7 a.m.–8 p.m.
        </p>
        <div class="align-items-center d-flex justify-content-center mb-3">
          <img src="./img/newmorenalogo.png" alt="Restaurant Morena Logo" class="mrn-c-footer-logo">
        </div>

      </div>

      <!-- Column 3 -->
      <div class="col-md-4 text-center align-items-center justify-content-center">
        <h5>CONTACT</h5>
        <p class="d-flex align-items-center justify-content-center justify-content-md-start gap-2">
          <i class="bi bi-telephone-fill"></i>
          <span>(514) 804-4953</span>
        </p>
        <p class="d-flex align-items-center justify-content-center justify-content-md-start gap-2">
          <i class="bi bi-envelope-fill"></i>
          <span>morenarestaurant@hotmail.com</span>
        </p>
        <p class="d-flex align-items-center justify-content-center justify-content-md-start">
          <i class="bi bi-facebook fs-5"></i>
          <a class="mrn-c-fb-link"
            href="https://www.facebook.com/p/Morena-Restaurant-Catering-Services-100069363169428/"
            target="_blank">Morena Restaurant & Catering Services</a>
        </p>
      </div>
    </div>
  </div>

  <hr class="my-3">
  <p class="text-center small mb-0">&copy; 2025 Restaurant Morena. All rights reserved.</p>
  </div>
</footer>