<header class="mrn-c-header">
  <nav class="mrn-c-nav">
    <div class="mrn-c-nav__container">
      <div class="mrn-c-nav__group">
        <!-- Left Navigation Bar -->
        <ul class="mrn-c-nav__list">
          <li class="mrn-c-nav__item">
            <a href="/" class="mrn-c-nav__link" data-i18n="nav.home">Home</a>
          </li>
          <li class="mrn-c-nav__item">
            <a href="about.html" class="mrn-c-nav__link" data-i18n="nav.about">About</a>
          </li>
        </ul>
        <!-- Logo -->
        <div class="mrn-c-logo">
          <img class="mrn-c-image" src="/../img/morenalogo-removebg-preview.png" alt="Morena Restaurant Logo">
        </div>
        <!-- Right Navigation Bar -->
        <ul class="mrn-c-nav__list mrn-c-nav__list--right">
          <li class="mrn-c-nav__item">
            <a href="menu.html" class="mrn-c-nav__link" data-i18n="nav.menu">Menu</a>
          </li>
          <li class="mrn-c-nav__item">
            <a href="contact.html" class="mrn-c-nav__link" data-i18n="nav.contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Language Selector -->
      <div class="mrn-c-nav__language-selector">
        <select class="mrn-c-nav__language-select" id="mrn-c-nav__language-select">
          <option class="mrn-c-nav__language-option" value="en">English</option>
          <option class="mrn-c-nav__language-option" value="fr">Français</option>
          <option class="mrn-c-nav__language-option" value="tl">Tagalog</option>
        </select>
        </div>
    </div>
  </nav>
</header>
